body	{
		background-color: rgb(16,16,16);
		color: rgb(20,119,113);
}

.navbar-inverse {
    background-color: rgb(6,6,6);
    border-color: rgb(16,26,66);
}

h1 {
	color: rgb(21,94,135);
}

h2{
	color: rgb(21,94,135);
}

#edu {
	background-color: rgb(26,26,26);
}

#work {
	background-color: rgb(26,26,26);
}